<div class="container mt-3">
  <h1>Home</h1>
  <%# 'This is a comment'  %>
  <p><%= 'This will display in the browser -> For display' %></p>
  <% 'This WONT display in the browser -> For logic' %>
  <%# 'pe + tab / p + press up'  %>
  <%# 'er + tab / e + press up'  %>
  <!-- <a href="/about"></a> -->
  <%# 'lt + tab / l + press up'  %>
  <%# 'takes two args -> text_you_see, place_to_go_path'  %>
  <%#= link_to 'Text', prefix_path  %>
  <%= link_to 'About', about_path, class: 'btn btn-light'  %>
  <%= link_to 'Contact', contact_path, class: 'btn btn-light'  %>
</div>
